// Footer
.copyright
	padding 0.5em 1em

.footer
	background $negro
	padding 1em
	*
		color $gris

.redes_sociales
	ul
		padding 0
		margin 0
		li
			list-style none
			display inline-block
			a
				font-size 2em
				text-decoration none
				padding 0.2em