// Footer
.copyright
	padding 0.5em 1em

.footer
	background $negro url("../img/body-background.jpg") fixed
	background-size( 150px 150px )
	font-family $baseHeadingFont
	padding 1em 1em 3em 1em
	*
		color $gris

.redes_sociales
	ul
		padding 0
		margin 0
		li
			list-style none
			display inline-block
			a
				font-size 2em
				text-decoration none
				padding 0.2em

@media all and (min-width: 1000px)
	.footer
		padding 1em 0