// Logotipo principal
.header
	text-align left
	background $negro
.logotipo
	display inline-block
	margin 0.5em 0.5em 0 0.5em

	&--header
		display table
		margin 0
		padding 0
		a
			display table-cell
			vertical-align middle
		span
			color $blanco
			display table-cell
			font-family $baseHeadingFont
			font-size 14px
			padding-left 0.5em
			vertical-align middle

.logotipo--logo
	display block
	width 50px