// Las Fuentes
// Lora
// @import url("https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");


// Titillium
@font-face
	font-family 'Titillium Web'
	font-style normal
	font-weight 400
	src url('fonts/Titillium_Web.eot')
	src url('fonts/Titillium_Web.eot?#iefix') format('embedded-opentype'),
		url('fonts/Titillium_Web.svg#TitilliumWeb') format('svg'),
		url('fonts/Titillium_Web.ttf') format('truetype'),
		url('fonts/Titillium_Web.woff2') format('woff2'),
		url('fonts/Titillium_Web.woff') format('woff')


/*

@font-face
	font-family 'Titillium Web Italic'
	font-style italic
	font-weight 400
	src url('fonts/Titillium Web - Italic.eot')
	src url('fonts/Titillium Web - Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Titillium Web - Italic.svg#TitilliumWeb') format('svg'),
		url('fonts/Titillium Web - Italic.ttf') format('truetype'),
		url('fonts/Titillium Web - Italic.woff2') format('woff2'),
		url('fonts/Titillium Web - Italic.woff') format('woff')*/


// Los íconos
@font-face
	font-family 'icono'
	font-style normal
	font-weight normal
	src url('fonts/icomoon/icomoon.eot')
	src url('fonts/icomoon/icomoon.eot#iefix') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.woff') format('woff'),
		url('fonts/icomoon/icomoon.ttf') format('truetype'),
		url('fonts/icomoon/icomoon.svg#icomoon') format('svg')

/*
@font-face
	font-family 'icono'
	font-style normal
	font-weight normal
	src url('fonts/icomoon/icomoon.eot?-9djqav')
	src url('fonts/icomoon/icomoon.eot?#iefix-9djqav') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.woff?-9djqav') format('woff'),
		url('fonts/icomoon/icomoon.ttf?-9djqav') format('truetype'),
		url('fonts/icomoon/icomoon.svg?-9djqav#icomoon') format('svg')
*/