// VARIABLES

// Soporte para versiones antiguas de IE (6, 7 y 8)
support-for-ie = true

// Valores fuertes típicos
$blanco_puro = #fff
$blanco = #eee
$gris = #aaa
$negro = #555
$negro_suave = #888
$negro_puro = #000

// Paleta de Colores de Flat UI Colores

// Verdes
$turquesa = #1abc9c
$verde_mar = #16a085
$esmeralda = #1abc9c
$neferteris = #16a085

// Azules
$azul_claro = #2980b9
$celeste_oscuro = #3498db

// Morados
$morado_claro = #9b59b6
$morado_oscuro = #8e44ad

// Azules metalizados
$asfalto = #34495e
$midnight = #2C3E50

// Amarillentos y naranjas
$amarillo = #f1c40f
$naranja_suave = #f39c12
$naranja_medio = #e67e22
$naranja_fuerte = #d35400

// Rojos
$ladrillo = #e74c3c
$google = #c0392b

// Grises - Modalidades
$nube = #ecf0f1
$silver = #bdc3c7
$silver_claro = #ccc
$concreto = #95a5a6
$gris_fuerte = #7f8c8d

// Paleta de Emyth vieja
$color_1 = #47a5c5
$color_2 = #a0c275
$color_3 = #8ca566
$color_4 = #da572b

// Paleta Emyth nueva
$color_5 = #B24946	//
$color_6 = #FEFFC2	//
$color_7 = #FFC6C4	//
$color_8 = #88AECC	//
$color_9 = #5E8DB2	//


// Fuentes

// Familia de fuente principal
// $baseFont = 'Titillium Web', 'Helvetica Neue', Helvetica, sans-serif
// $baseFontItalic = 'Titillium Web Italic', 'Helvetica Neue', Helvetica, sans-serif
// $baseFont = 'Noto Serif', Georgia, Garamond, serif
$baseFont = "Lora", "Georgia", Garamond, serif

// Familia de fuente para títulos
// $baseHeadingFont = 'Lato', sans-serif
$baseHeadingFont = 'Titillium Web', 'Helvetica Neue', Helvetica, sans-serif

// Nombre de la fuente de iconos
$iconFont = 'icono'

// Color base del texto
$fontColor = $negro

// Tamaño base del texto en px. Será convertido automáticamente a em (ver base.styl)
$fontSize = 20
