/*
 * Fuentes
 */

// Titillium
/*@font-face
	font-family 'Titillium Web'
	font-style normal
	font-weight 400
	src url('fonts/Titillium Web.eot')
*/
@font-face
	font-family 'Titillium Web'
	font-style normal
	font-weight 400
	src url('fonts/Titillium Web.eot')
	src url('fonts/Titillium Web.eot?#iefix') format('embedded-opentype'),
		url('fonts/Titillium Web.svg#TitilliumWeb') format('svg'),
		url('fonts/Titillium Web.ttf') format('truetype'),
		url('fonts/Titillium Web.woff2') format('woff2'),
		url('fonts/Titillium Web.woff') format('woff')

@font-face
	font-family 'Titillium Web Italic'
	font-style italic
	font-weight 400
	src url('fonts/Titillium Web - Italic.eot')
	src url('fonts/Titillium Web - Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Titillium Web - Italic.svg#TitilliumWeb') format('svg'),
		url('fonts/Titillium Web - Italic.ttf') format('truetype'),
		url('fonts/Titillium Web - Italic.woff2') format('woff2'),
		url('fonts/Titillium Web - Italic.woff') format('woff')


// Lato
@font-face
	font-family 'Lato'
	font-style normal
	font-weight 700
	src url('fonts/Lato Bold.eot')
	src url('fonts/Lato Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Lato Bold.woff2') format('woff2'),
		url('fonts/Lato Bold.woff') format('woff'),
		url('fonts/Lato Bold.svg#Lato') format('svg'),
		url('fonts/Lato Bold.ttf') format('truetype')


// Los íconos
@font-face
	font-family 'icono'
	font-style normal
	font-weight normal
	src url('fonts/icomoon/icomoon.eot?-9djqav')
	src url('fonts/icomoon/icomoon.eot?#iefix-9djqav') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.woff?-9djqav') format('woff'),
		url('fonts/icomoon/icomoon.ttf?-9djqav') format('truetype'),
		url('fonts/icomoon/icomoon.svg?-9djqav#icomoon') format('svg')