*.log
*.zip
*.rar
*.html
*.json
*.map
css/webmoderna.css
css/mdp.css
*Read*Me.*
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
dm-confirm-email

js/fancyapp*
js/jquery.mouse*
js/flex*
download.php
css/flexsl*

/readme.html
/license.txt
includes/securimage
stylus/lib
stylus/node_modules
stylus/test
node_modules
options-framework-theme-master